.background {
  background: center no-repeat url("https://rawgit.com/FlorianMalapel/chromecast/master/background.png");
}

.logo {
  background-image: url("https://rawgit.com/FlorianMalapel/chromecast/master/logo_pbb.png");
}

.progressBar {
  background-color: rgb(255, 255, 255);
}

.splash {
  background-image: url("https://rawgit.com/FlorianMalapel/chromecast/master/logo_pbb.png");
}

.watermark {
}