.background {
  background: center no-repeat url("https://rawgit.com/FlorianMalapel/chromecast/master/background.png");
}

.logo {
  background-image: url("https://rawgit.com/FlorianMalapel/chromecast/master/logo_pbb.png");
  background-size: 420px 420px;
}

.progressBar {
  background-color: rgb(255, 255, 255);
}

.splash {
  background-image: url("https://rawgit.com/FlorianMalapel/chromecast/master/logo_pbb.png");
  background-size: 420px 420px; 
}

.watermark {
    background-image: url("https://rawgit.com/FlorianMalapel/chromecast/master/watermark.png");
    background-size: 100px 19px;
}